@import "../../styles/colors.scss";

.listWrapper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.paginationWrapper {
  width: 100%;

  .btn {
    background-color: $darkBlue;
    outline: none;
    text-decoration: none;
    border: none;
    padding: 15px;
    border-radius: 12px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s;
    margin: 20px 0;

    &:hover {
      color: $darkBlue;
      background-color: white;
    }
  }
}

.left {
  float: left;
}

.right {
  float: right;
}
