@import "../../styles/global.scss";

.header {
  background-color: $darkBlue;
  height: r(70);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: r(1600);
}

.tittle {
  margin: 0 r(20);
  color: $white;
  font-weight: 600;
  font-size: r(24);
  line-height: r(28);
  cursor: default;
}

.navWrapper {
  display: flex;
}

.link {
  font-weight: 600;
  margin: 0 r(20);
  text-decoration: none;
  width: fit-content;
  color: #fff;
  padding: 0;
  font-size: r(14);
  line-height: r(18);
  text-transform: uppercase;
}

.line {
  background-color: $blue;
  height: r(2);
  width: 50%;
  transform: translateX(0);
  transition: transform 0.3s;
}

.link:hover .line {
  transform: translateX(100%);
  transition: transform 0.3s;
}
